---
import { getLocale } from "astro-i18n-aut";
import GenericLayout from "../layouts/GenericLayout.astro";

const locale = getLocale(Astro.url);

let title: string;
let pageTitle: string;
let pageSubtitle: string;
switch (locale) {
  case "es":
    title = "Acerca";
    pageTitle = "Sobre nosotros";
    pageSubtitle = `
	¡Bienvenido a nuestra página Acerca de nosotros!
    En GenericCompany, nos mueve la pasión por la excelencia y el compromiso con la innovación.
    Fundados sobre los principios de calidad, integridad y satisfacción del cliente, nos hemos convertido en un líder confiable en nuestra industria.
    Nuestro equipo de profesionales dedicados trabaja incansablemente para brindar soluciones que no solo cumplan con las expectativas, sino que las superen.
    Con un enfoque en la mejora continua y en mantenernos a la vanguardia, nos esforzamos por brindar los mejores productos y servicios a nuestros valiosos clientes.
    Gracias por ser parte de nuestro viaje: esperamos construir relaciones duraderas y generar un impacto positivo juntos.
	`;
    break;
  default:
    title = "About";
    pageTitle = "About Us";
    pageSubtitle = `
    Welcome to our About page! 
    At GenericCompany, we are driven by a passion for excellence and a commitment to innovation. 
    Founded on the principles of quality, integrity, and customer satisfaction, we have grown into a trusted leader in our industry. 
    Our team of dedicated professionals works tirelessly to deliver solutions that not only meet but exceed expectations. 
    With a focus on continuous improvement and staying ahead of the curve, we strive to bring the best products and services to our valued clients. 
    Thank you for being a part of our journey—we look forward to building lasting relationships and making a positive impact together.`;
}
---

<GenericLayout title={title}>
  <div class="container pb-5 pt-3">
    <h1 class="display-6 fw-bold pb-3">{pageTitle}</h1>
    <p>{pageSubtitle}</p>
  </div>
</GenericLayout>
